Options -Indexes
AddType model/gltf-binary .glb
AddType model/gltf+json .gltf
AddType model/vnd.usdz+zip .usdz

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
<Files .env>
    Order allow,deny
    Deny from all
</Files>